button:hover{
    background-color: rgb(241, 60, 31);
}

body{
    background-color: rgb(241, 240, 235);
}

h1, h2, h4{
    color: rgba(0, 0, 0, 0.863);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.863) ;
    font-size: 16px;
}

#loginBox{
    width: 30%;
    margin: auto;
    margin-top: 190px;
    text-align: center;
    color: rgba(0, 0, 0, 0.11);
}

button{
    width: 60%;
    height: 60px;
    border: none;
    border-radius: 4px;
    background-color: rgb(64, 86, 161);
    color: rgb(235, 232, 232);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

form{
    color: rgba(0, 0, 0, 0.11);
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.11);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;

}

#header{
    margin-top: 0px;
    background-color: rgb(64, 86, 161);
    width: 100%;
    height: 70px;
    margin-bottom: 50px;
}

#menuLine{
    width: 60%;
    margin: auto;
    text-align: center;
}

#formDiv, #loginDiv{
    width: 30%;
    text-align: center;
    margin: auto;
}

#loginDiv{
    margin-top: 100px;
}


#dob{
    width: 100%;
    background-color: none;
    float: right;
}


#image{
    background-color: rgb(235, 232, 232);
    width: 100%;
    float: left;
    margin-left: 0%;
    padding-left: 0%;
}

#dobText, #imageText{
    float: left;
    margin-bottom: 0%;
    color: rgba(0, 0, 0, 0.863);
}

#submitButton, #loginButton{
    margin-top: 10px;
    width: 100%;
}

#collectedUser{
    width: 70%;
    margin: auto;
    height: 500px;
}

#userImagePlacement{
    width: 50%;
    height: 95%;
    border-radius: 5px;
    float: left;
    background-color: lightblue;
}

#userInformation{
    width: 48%;
    height: 100%;
    padding-left: 10px;
    float: left;
}

#userInformationHome{
    width: 40%;
    margin: auto;
}

#yesPlease, #noThankYou{
    width: 49%;
}

#editProfile{
    margin: auto;
    width: 100%;
}

#wantToDeleteUser{
    width: 60%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

#deleteUser, #notDeleteUser{
    width: 48%;
}

#home, #matches, #user, #logOut{
    padding-top: 0px;
    height: 65px;
    margin: auto;
    width: 170px;
}

#matchHolder{
    width: 60%;
    margin: auto;
}

#deleteMatch{
    width: 100%;
}